/* Whole Project */
:root{
  --box-shadow:5px 5px 10px 10px rgb(101, 175, 10, 0.5);
  --bg-color:rgb(40, 47, 97);

}
body {
  background-color: rgb(11, 26, 51);
  color: white;
}

/* Navbar */
a {
  text-decoration: none;
  color: white;
}

.navIteams {
  padding: 16px;
  font-size:1.2rem;
  font-weight: bold;
}

.navbar .navIteams:hover {
 border-bottom: 3px solid yellow;
}


/* Home Section */

.home {
  height: 80vh;
}

.home-left {
  background-color:var(--bg-color) ;
  width: 620px;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid yellow;
  box-shadow: var(--box-shadow);
}

.right.left {
  background-color: black;
}
 .img img {
  height: 270px;
  width: 270px;
  border-radius: 100%;
  border: 5px solid yellow;
  animation-name: superman;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  
}

@keyframes superman{
  0%{
   border-color: blue;
   transform: translate(0, 0px);
   box-shadow: 10px 10px 100px 50px blue;
  }
  25%{
    border-color: rgb(239, 244, 11);
   box-shadow: 10px 10px 100px 50px rgb(239, 244, 11);
  }
  50%{
    border-color: rgb(12, 12, 199);
   transform: translate(0, 10px);
   box-shadow: 10px 10px 100px 50px rgb(12, 12, 199);
  }
  75%{
    border-color: rgb(130, 217, 160);
    box-shadow: 10px 10px 100px 50px rgb(130, 217, 160);
  }
  100%{
    border-color: rgb(50, 55, 205);
    transform: translate(0, 0px);
    box-shadow: 10px 10px 100px 50px rgb(50, 55, 205);
  }
}


/* experince Section */

.ex {
  width: 900px;
}

.left img{
  width: 12rem;
  margin-top: 30%;
}

.ex-item {
  background-color: var(--bg-color);
  margin: 20px;
  padding: 30px;
  width: 800px;
  border: 1px solid yellow;
  border-radius: 10px;
  box-shadow: var(--box-shadow);

}

/* Skills Section */

.skills {
  width: 900px;
}

.item img {
  width: 70px;
}

.home-card {
  background-color:var(--bg-color) ;
  width: 320px;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid yellow;
  box-shadow: var(--box-shadow);
  margin-top: 20px;

}



/* Projects section */


/* CONTACT section */

.contact-icon {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-icon .items {
  background-color: black;
  margin: 10px;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid yellow;
}

.contact-icon .items:hover {
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
}

.contact-icon .items .icons {
  font-size: 2rem;
}

